
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $secondaryColor;
  padding: 10px 40px;
  position: fixed;
  width: 100%;
  z-index: 1000;

  &-title {
    font-size: $size * 2;
    margin: 8px;
  }

  .button-cart{
    padding: 5px 10px;
    font-size: $size;
    color: white;
    background-color: $colorMenu;
    border: none;
    border-radius: 5px;
    &:hover {
      background-color: white;
      color:  $colorMenu;
      border: 2px solid $colorMenu;
    }
  }

  .text-search {
    padding: 5px 10px;
    margin: 4px;
    border-radius: 5px;
    border: none;
  }

  .button-search{
    padding: 5px 10px;
    font-size: $size;
    color: $colorMenu;
    background-color: white;
    border: 2px solid $colorMenu;
    border-radius: 5px;
    &:hover {
      background-color: $colorMenu;
      color: white;
    }
  }
}