.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
 
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-y: auto;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.6);

  &-content {
    padding: 10px;
    padding-top: 120px;
    background-color: $primaryColor;
    max-width: 600px;
    height: 100Vh;
  }

  &-list {
    margin: 10px;
    padding: 10px;
    max-width: 600px;
    max-height: 60vh;
    list-style: none;
    background-color: $primaryColor;
    overflow: scroll;

    &-element {
      padding: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $primaryColor;      
      border: 1px solid $tertiaryColor;
    }

    &-img {
      margin-right: 8px;
      width: 50px;
      height: 50px;
      background-color: rgb(20, 131, 228);
    }

    &-title {
      width: 120px;
      font-size: $size;
    }

    &-counter {
      display: inline-flex;
      align-items: center;
    }
  }

  .close {
    float: right;
    height: $size * 2;
    width: $size * 2;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    font-size: $size * 1.5;
    background-color: $secondaryColor;
    &:hover {
      background-color: darken($color: $secondaryColor, $amount: 20%);
    }
  }

  .total {
    margin: 20px 0px;
    float: right;
  }

  .counter-value{
    width: 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .counter-price{
    width: 60px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .counter-value,
  .counter-price {
    height: $size * 2;
    font: caption;
    text-align: center;
    border: none;
    background-color: $colorBottum;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.button-minus,
.button-plus {
  @include button();
  width: 30px;
  font-size: $size * 1.3;
  background-color: darken($color: $tertiaryColor, $amount: 20%);
  &:hover {
    background-color: lighten($color: $tertiaryColor, $amount: 1%);
  }
}

.button-delete {
  @include button();
  font-size: $size;
  border-radius: 10px;
  background-color: red;
  &:hover {
    background-color: darken($color: red, $amount: 10%);
  }
}

.order {
  @include button();
  font-size: $size * 1.8;
  background-color: $colorBottum;
  border-radius: 10px;
  width: 100%;
  height: $size * 2.5;
  &:hover {
    background-color: darken($color: $colorBottum, $amount: 40%);
  }
}

.open {
  display: block;
}
