* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 100px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 48px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.wrapper * {
  margin: 0px;
  padding: 0px;
}

.item {
  display: grid;
  align-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}
.item .img {
  grid-column: 1/3;
  grid-row: 1;
}
.item-title {
  grid-column: 1/3;
  grid-row: 2;
}
.item-description {
  grid-column: 1/3;
  grid-row: 3;
  grid-row: 1fr;
}
.item-container {
  grid-column: 1/3;
  grid-row: 4/6;
  display: grid;
}
.item-price {
  grid-column: 1/2;
  grid-row: 1;
}
.item-rating {
  grid-column: 2/3;
  grid-row: 1;
}
.item-button {
  grid-column: 1/3;
  grid-row: 2;
}

.item {
  width: 230px;
  min-height: 230px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 15px;
}
.item .img {
  width: 100%;
  height: 115px;
}
.item .img-full {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-title {
  margin: 0px 10px;
  font-size: 24px;
}
.item-description {
  margin: 0px 10px;
  font-size: 16px;
}
.item-price {
  margin-left: 10px;
  padding: 0px 0px 20px;
  border-top: 1px solid rgb(140, 140, 140);
  background-color: rgb(220, 220, 220);
  text-align: center;
  font-size: 16px;
}
.item-rating {
  margin-right: 10px;
  padding: 0px 0px 20px;
  border-top: 1px solid rgb(140, 140, 140);
  background-color: rgb(220, 220, 220);
  text-align: center;
  font-size: 16px;
}
.item-button {
  margin: 10px;
  padding: 8px;
  background-color: rgb(80, 80, 252);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.item-button:hover {
  background-color: #01014c;
}

.hide {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(220, 220, 220);
  padding: 10px 40px;
  position: fixed;
  width: 100%;
}
.menu-title {
  font-size: 32px;
}
.menu .button-cart {
  padding: 5px 10px;
  font-size: 16px;
  color: white;
  background-color: rgb(33, 70, 33);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.menu .text-search {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}
.menu .button-search {
  padding: 5px 10px;
  font-size: 16px;
  color: rgb(33, 70, 33);
  background-color: white;
  border: 2px solid rgb(33, 70, 33);
  border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-y: auto;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-content {
  padding: 10px;
  background-color: aquamarine;
  max-width: 600px;
  height: 100Vh;
  border: 2px solid black;
}
.modal-list {
  margin: 10px;
  padding: 10px;
  max-width: 500px;
  min-height: 200px;
  max-height: 600px;
  list-style: none;
  background-color: brown;
  overflow: scroll;
}
.modal-list-element {
  margin: 4px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  background-color: chocolate;
  color: rgb(255, 255, 255);
}
.modal-list-img {
  width: 50px;
  height: 50px;
  background-color: rgb(20, 131, 228);
}
.modal-list-title {
  width: 120px;
  text-align: center;
}
.modal-list-counter {
  width: 120px;
  display: inline-flex;
  align-items: center;
}
.modal .close {
  float: right;
  border: none;
  font-weight: bolder;
  background-color: aquamarine;
  color: crimson;
  cursor: pointer;
}
.modal .counter-value {
  width: 30px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.modal .counter-value,
.modal .counter-price {
  height: 30px;
  font: caption;
  text-align: center;
  border: none;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-minus,
.button-plus {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  color: white;
}

.open {
  display: block;
}/*# sourceMappingURL=style.css.map */